<div class="container">
  <div style="display:flex;flex-direction: row;">
    Input JSON
    <ng-container *ngIf="errorText?.length > 0">

      <div style="color:red">
        &nbsp;&nbsp;{{errorText}}
      </div>
    </ng-container>
  </div>
  <div class="input">
    <textarea (input)="startConversion($event)"
              [value]="jsonInput"
              (ngModelChange)="startConversion($event)">
    </textarea>
    <button class="btn"
            (click)="start()">Run
    </button>
  </div>

  <div class="todos">

    <div *ngIf="missingInfo.size > 0">
      Manual Input Needed
      <span class="badge badge-purple">{{missingInfo?.size}}</span>
    </div>

    <ng-container *ngFor="let todo of missingInfo | keyvalue | slice:0:1">
      <div style="display:flex; flex-direction: column;margin-bottom:20px; width:500px;">
        <clr-input-container style="width:500px">
          <label>
            {{todo.key}}
          </label>

          <input #todoInput
                 clrInput
                 style="width:500px"
                 [placeholder]="todo.value"
                 (keyup.enter)="updateManualInfo(todo.key, todoInput.value)">
        </clr-input-container>
      </div>

      <button class="btn"
              *ngIf="todo"
              (click)="updateManualInfo(todo.key, todoInput.value)">Ok
      </button>

    </ng-container>
  </div>

  <div class="output">
    <clr-tabs clrLayout="vertical">

      <clr-tab>
        <button clrTabLink><b>Relationships</b></button>
        <clr-tab-content *clrIfActive>
          <div style="padding:20px;">
            {{ relationships | json}}
          </div>
        </clr-tab-content>
      </clr-tab>


      <ng-container *ngFor="let schema of schemaList">

        <clr-tab>
          <button clrTabLink>{{schema?.type}}</button>
          <clr-tab-content *clrIfActive>
            <div *ngIf="schema"
                 style="padding:20px;">
              {{schema | json}}
            </div>
          </clr-tab-content>
        </clr-tab>

      </ng-container>

    </clr-tabs>
  </div>
</div>
