:host {
  min-width: 600px;
  padding:50px;
}
.container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100vw;

  .json-input {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .input {
    display: flex;
    flex-direction: column;
    textarea {
      width: 1000px;
      height: 200px;
    }
  }

  .todos {
    height: 250px;
    width: 1000px;
    display: flex;
    flex-direction: column;
  }

  .output {
    width: 100%;
    max-width: 1000px;

    min-height: 200px;
    clr-tabs {
      border-top: 1px solid black;
    }

    .tab-contentx {
      display: flex;
      padding: 10px;
      ngx-monaco-editor {
        display: flex;
        height: 500px;
        width: 700px;
      }
    }
  }
}
