:host {
  min-width: 600px;
}

h3, h4 {
  color: #595959;
}

.container {
  padding: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 100vw;

  .json-input {
    display: flex;
    flex-direction: column;
    .input-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    textarea {
      background: #1e1e1e;
      border-radius: 4px;
      background: #1e1e1e;
      color: #595959;
      width: 1000px;
      height: 200px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .todos {
    height: 250px;
    width: 1000px;
    display: flex;
    flex-direction: column;

    label {
      color: #9b9b9b;
    }
    input {
      color: #595959;
    }
  }

  .output {
    width: 100%;
    margin: 50px;

    min-height: 200px;
    clr-tabs {
      border-top: 1px solid black;
    }
    section {
      width:100%;
    }


    .entity-tab {
      color:#595959;
      display: flex;
      padding: 10px;
      height: 100%;
      width:1300px;
      flex-direction: row;
      justify-content: space-evenly;
      ngx-monaco-editor {
        display: flex;
        height: 100%;
        width: 600px;
      }
    }

    .relationships-tab {
      display: flex;
      padding: 10px;
      height: 100%;
      ngx-monaco-editor {
        display: flex;
        height: 100%;
        width: 700px;
      }
    }
  }
}
