<div class="container">



  <div class="json-input">
    <div class="input-title">
      <h3>
        Input JSON
      </h3>
      <ng-container *ngIf="errorText?.length > 0">

        <div style="color:red;margin-top:24px">
          &nbsp;&nbsp;{{errorText}}
        </div>
      </ng-container>
    </div>
    <textarea [(ngModel)]="jsonInput">
    </textarea>
    <button class="btn"
            (click)="start()">Run
    </button>
  </div>



  <div class="todos">
    <h3 *ngIf="missingInfo.size > 0">
      Missing Info
    </h3>
    <div *ngIf="missingInfo.size > 0">
      Manual Input Needed
      <span class="badge badge-purple">{{missingInfo?.size}}</span>
    </div>

    <ng-container *ngFor="let todo of missingInfo | keyvalue | slice:0:1">
      <div style="display:flex; flex-direction: column;margin-bottom:20px; width:500px;">
        <clr-input-container style="width:500px">
          <label>
            {{todo.key}}
          </label>

          <input #todoInput
                 clrInput
                 style="width:500px"
                 [placeholder]="todo.value"
                 (keyup.enter)="updateManualInfo(todo.key, todoInput.value)">
        </clr-input-container>
      </div>

      <button class="btn"
              *ngIf="todo"
              (click)="updateManualInfo(todo.key, todoInput.value)">Ok
      </button>
    </ng-container>

  </div>

  <div class="output">
    <h3>
      Output
    </h3>
    <clr-tabs clrLayout="vertical">

      <clr-tab>
        <button clrTabLink><b>Relationships</b></button>
        <clr-tab-content *clrIfActive>
          <div class="relationships-tab">

            <ngx-monaco-editor [options]="editorOptions"
                               [ngModel]="relationships | json"
                               (ngModelChange)="relationshipCodeChange($event)">
            </ngx-monaco-editor>
            <br>
          </div>
        </clr-tab-content>
      </clr-tab>


      <ng-container *ngFor="let schema of schemaList; let i=index">

        <clr-tab>
          <button clrTabLink>{{schema?.type}}</button>
          <clr-tab-content *clrIfActive>
            <div *ngIf="schema"
                 class="entity-tab">
              <div>
                <h4>
                  Go Struct
                </h4>
                <ngx-monaco-editor [options]="goLangEditorOptions"
                                   [ngModel]="golangStructs[i]"
                                   (ngModelChange)="schemaCodeChange($event, i)">
                </ngx-monaco-editor>
              </div>
              <div>
                <h4>
                  Collector Schema
                </h4>
                <ngx-monaco-editor [options]="editorOptions"
                                   [ngModel]="schema | json"
                                   (ngModelChange)="schemaCodeChange($event, i)">
                </ngx-monaco-editor>
              </div>

            </div>

          </clr-tab-content>
        </clr-tab>

      </ng-container>

    </clr-tabs>
  </div>
</div>
